In [1]:
# Q. 3 Print the max value of the array [ 13, 1, -3, 22, 5].

In [9]:
def max_val(arr,i):
  if i>=len(arr):
    return -1
  else:
    return max(arr[i],max_val(arr,i+1))
arr=[1,3,4,33,21,11,45]
print(max_val(arr,0))

45

In [11]:
# Q.4 Find the sum of the values of the array [92, 23, 15, -20, 10].

In [13]:
def sum_arr(arr,i):
  if i>=len(arr):
    return 0
  else:
    return (arr[i]+sum_arr(arr,i+1))
arr= [92, 23, 15, -20, 10]
print(sum_arr(arr,0))

120

In [14]:
# Q.5 Given a number n. Print if it is an armstrong number or not.An armstrong number is a number if the sum
# of every digit in that number raised to the power of total digits in that number is equal to the number.

In [15]:
def amstrong(n,s):
  if n==0:
    return 0
  else:
    return   (n%10)**s + amstrong(n//10,s)
n=153
y,s=n,0
while(y!=0):
  s+=1
  y//=10

if n==amstrong(n,s):
  print("yes")
else:
  print("no")

yes

In [16]:
# Q.1 Can you explain the logic and working of the Tower of Hanoi algorithm by writing a Java program?
# How does the recursion work, and how are the movements of disks between rods accomplished?

In [21]:
def moves(n,s,d,a):
  if n==1:
    return 1
  else:
    return moves(n-1,s,a,d)+1+moves(n-1,a,d,s)
print(moves(2,'s','d','a'))

3

In [22]:
# Q.2 Given two strings word1 and word2, return the minimum number of operations required to convert word1
# to word2.
def min_operations(word1, word2):
    # Base case: If either of the strings is empty, the number of operations is the length of the other string
    if not word1:
        return len(word2)
    if not word2:
        return len(word1)

    # If the last characters of the strings are the same, no operation is needed, move to the rest of the strings
    if word1[-1] == word2[-1]:
        return min_operations(word1[:-1], word2[:-1])

    # If the last characters are different, consider three operations: delete, insert, and replace
    delete_op = 1 + min_operations(word1[:-1], word2)
    insert_op = 1 + min_operations(word1, word2[:-1])
    replace_op = 1 + min_operations(word1[:-1], word2[:-1])

    # Return the minimum of the three operations
    return min(delete_op, insert_op, replace_op)

# Example usage:
word1 = "intention"
word2 = "execution"
result = min_operations(word1, word2)
print(f"Minimum operations to convert '{word1}' to '{word2}': {result}")

Minimum operations to convert 'intention' to 'execution': 5